<div class="contenedor input-group rounded mt-3">
  <div class="form-outline centrar">
    <div class="row">
      <div class="form-group distancia col-lg-5">
        <div class="buscador">
          <input
            [formControl]="search"
            type="text"
            class="form-control"
            placeholder="Buscar juego..."
          />
        </div>
      </div>
      <div class="col-lg-5">
        <a
          routerLink="/group-creation"
          class="button btn btn-primary"
          role="button"
          data-bs-toggle="button"
          >Crear nuevo grupo</a
        >
      </div>
    </div>
  </div>
</div>
