<div class="input-group rounded mt-3">
  <div class="form-outline border centrar">
    <div class="d-flex">
      <div class="form-group border d-flex distancia">
        <div><i class="bi bi-search"></i></div>
        <div>
          <input
            [formControl]="search"
            type="text"
            class="form-control"
            placeholder="Search..."
          />
        </div>
      </div>
      <div class="border">
        <a
          routerLink="/group-creation"
          class="button btn btn-primary"
          role="button"
          data-bs-toggle="button"
          >Crear nuevo grupo</a
        >
      </div>
    </div>
  </div>
</div>
