<div class="bg-white mensaje m-3 contenedor-mensajes">

  <div class="mensajes">
    <p>24/03/2022 - 16:40 <br>
      Raul: hola
    </p>
  </div>
  <div class="mensajes">
    <p>24/03/2022 - 16:41 <br>
      Edgar: hola
    </p>
  </div>
  <div class="mensajes">
    <p>24/03/2022 - 16:42 <br>
      Albert: hola
    </p>
  </div>
  <div class="mensajes">
    <p>24/03/2022 - 16:43 <br>
      Abel: hola
    </p>
  </div>

</div>
<div class="enviar m-3">
  <div>
    <form class="d-flex">
      <div>
        <input
          type="text"
          class="form-control caja-mensaje"
          id="mensaje"
          aria-describedby="emailHelp"
          placeholder="Insert text"
        />
      </div>

      <div>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>
