<div class="bg-white mensaje boarder m-3">
  <p>messages ddddddddddddddddddddddddddddddddddddddworks!</p>
</div>
<div class="border enviar m-3">
  <div>
    <form class="d-flex">
      <div>
        <input
          type="text"
          class="form-control"
          id="mensaje"
          aria-describedby="emailHelp"
          placeholder="Insert text"
        />
      </div>

      <div>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>
