<div class="bg-white m-3 contenedor-mensajes">
  <div class="mensajes m-2">
    <div>
      <p><i>24/03/2022 - 16:40</i><br /><b>Pepe</b>: hola</p>
      <div class="icono-basura">
        <button class="boton-eliminar">
          <i class="icono bi bi-trash3-fill"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="mensajes m-2">
    <div>
      <p><i>24/03/2022 - 16:40</i><br /><b>Pepe</b>: hola</p>
      <div class="icono-basura">
        <button class="boton-eliminar">
          <i class="icono bi bi-trash3-fill"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="mensajes m-2">
    <div>
      <p><i>24/03/2022 - 16:40</i><br /><b>Pepe</b>: hola</p>
      <div class="icono-basura">
        <button class="boton-eliminar">
          <i class="icono bi bi-trash3-fill"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="mensajes m-2">
    <div>
      <p><i>24/03/2022 - 16:40</i><br /><b>Pepe</b>: hola</p>
      <div class="icono-basura">
        <button class="boton-eliminar">
          <i class="icono bi bi-trash3-fill"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="mensajes m-2">
    <div>
      <p><i>24/03/2022 - 16:40</i><br /><b>Pepe</b>: hola</p>
      <div class="icono-basura">
        <button class="boton-eliminar">
          <i class="icono bi bi-trash3-fill"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="mensajes m-2">
    <div>
      <p><i>24/03/2022 - 16:40</i><br /><b>Pepe</b>: hola</p>
      <div class="icono-basura">
        <button class="boton-eliminar">
          <i class="icono bi bi-trash3-fill"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="mensajes m-2">
    <div>
      <p><i>24/03/2022 - 16:40</i><br /><b>Pepe</b>: hola</p>
      <div class="icono-basura">
        <button class="boton-eliminar">
          <i class="icono bi bi-trash3-fill"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="enviar m-3">
  <div>
    <form class="d-flex">
      <div>
        <input
          type="text"
          class="form-control caja-mensaje"
          id="mensaje"
          aria-describedby="emailHelp"
          placeholder="Insert text"
        />
      </div>

      <div>
        <button type="button" class="btn btn-primary boton-enviar">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
