<!-- <div class="box border m-2 p-1"> -->
  <div class="card alinear m-2 group-card">
    <a href="#">
      <img
        class="card-img-top"
        src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_MarioKart8Deluxe_image1600w.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <div class="card alinear m-2 group-card">
    <a href="#">
      <img
        class="card-img-top"
        src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_DarkSoulsRemastered_image1600w.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <div class="card alinear m-2 group-card">
    <a href="#">
      <img
        class="card-img-top"
        src="https://e.rpp-noticias.io/normal/2019/04/19/203320_780070.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <div class="card alinear m-2 group-card">
    <a href="#">
      <img
        class="card-img-top"
        src="https://phantom-marca.unidadeditorial.es/ad7e44d8a02d5ea8de4a01a87cc5c387/crop/0x0/1980x1112/resize/660/f/webp/assets/multimedia/imagenes/2022/03/16/16474267987028.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <div class="card alinear m-2 group-card">
    <a href="#">
      <img
        class="card-img-top"
        src="https://cdn-3.expansion.mx/dims4/default/7a4a752/2147483647/strip/true/crop/1920x1080+0+0/resize/1800x1013!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2Fe8%2Fe4%2Fa8aa098b43d8a4b184ee00fec346%2Fvalorant.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <div class="card alinear m-2 group-card">
    <a href="#">
      <img
        class="card-img-top"
        src="https://phantom-marca.unidadeditorial.es/ad7e44d8a02d5ea8de4a01a87cc5c387/crop/0x0/1980x1112/resize/660/f/webp/assets/multimedia/imagenes/2022/03/16/16474267987028.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <div class="card alinear m-2 group-card">
    <a href="#">
      <img
        class="card-img-top"
        src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_DarkSoulsRemastered_image1600w.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <!-- <div class="card alinear m-2" style="width: 15rem">
    <a href="#">
      <img
        class="card-img-top"
        src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2021/05/god-war-2333527.jpg?itok=jRtj0IXF"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <div class="card alinear m-2" style="width: 15rem">
    <a href="#">
      <img
        class="card-img-top"
        src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2021/05/god-war-2333527.jpg?itok=jRtj0IXF"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <div class="card alinear m-2" style="width: 15rem">
    <a href="#">
      <img
        class="card-img-top"
        src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2021/05/god-war-2333527.jpg?itok=jRtj0IXF"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>  -->
<!-- </div> -->
