.box {
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 25px;
  scrollbar-color: #344D90 rgba(235, 40, 40, 0);
  scrollbar-width: thin;
  background-color: #d8e2e6;

}

.group-card{
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 600px) {
  .group-card{
    width: 100px;
    height: 100px;
    font-size: smaller;
  }
}

.alinear {
  text-decoration: none;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.card {
  background-color: #344D90;
  border: none;
  border-radius: 15px;
}

img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
