<div class="box border m-2 p-1">
  <div class="card border m-1">
    <img src="#" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5>PEpe</h5>
      <p class="card-text">
        Status: Alive<br />
        Species: Pe<br />
        Id: 1
      </p>
    </div>
    <a class="btn btn-primary ver-mas">Ver más</a>
  </div>
  <div class="card m-1">
    <img src="#" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5>PEpe</h5>
      <p class="card-text">
        Status: Alive<br />
        Species: Pe<br />
        Id: 1
      </p>
    </div>
    <a class="btn btn-primary ver-mas">Ver más</a>
  </div>
  <div class="card m-1">
    <img src="#" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5>PEpe</h5>
      <p class="card-text">
        Status: Alive<br />
        Species: Pe<br />
        Id: 1
      </p>
    </div>
    <a class="btn btn-primary ver-mas">Ver más</a>
  </div>
  <div class="card m-1">
    <img src="#" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5>PEpe</h5>
      <p class="card-text">
        Status: Alive<br />
        Species: Pe<br />
        Id: 1
      </p>
    </div>
    <a class="btn btn-primary ver-mas">Ver más</a>
  </div>
  <div class="card m-1">
    <img src="#" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5>PEpe</h5>
      <p class="card-text">
        Status: Alive<br />
        Species: Pe<br />
        Id: 1
      </p>
    </div>
    <a class="btn btn-primary ver-mas">Ver más</a>
  </div>
</div>
