<!-- <div class="box border m-2 p-1"> -->
  <div class="card alinear m-2 group-card">
    <a href="#" >
      <img
        class="card-img-top"
        src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2021/05/god-war-2333527.jpg?itok=jRtj0IXF"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <!-- <div class="card alinear m-2" style="width: 15rem">
    <a href="#">
      <img
        class="card-img-top"
        src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2021/05/god-war-2333527.jpg?itok=jRtj0IXF"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <div class="card alinear m-2" style="width: 15rem">
    <a href="#">
      <img
        class="card-img-top"
        src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2021/05/god-war-2333527.jpg?itok=jRtj0IXF"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
  <div class="card alinear m-2" style="width: 15rem">
    <a href="#">
      <img
        class="card-img-top"
        src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2021/05/god-war-2333527.jpg?itok=jRtj0IXF"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text">Nombre Grupo</p>
        <p>Nombre Juego</p>
      </div>
    </a>
  </div>
</div> -->

