<div class="bg-white m-3 contenedor-mensajes">
  <div *ngFor="let mensaje of mensajes" class="mensajes m-2">
    <div>
      <p><br/><b>sdadsasd</b>: {{mensaje.contenido}}</p>
      <div class="icono-basura">
        <button class="boton-eliminar">
          <i class="icono bi bi-trash3-fill"></i>
        </button>
      </div>
    </div>
  </div>

</div>
<div class="enviar m-3">
  <div>
    <form class="d-flex">
      <div>
        <label class="form-label">*Nombre del grupo</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre del grupo"
          maxlength="20"
          required
          [(ngModel)]="message.contenido"
        />
      </div>

      <div>
        <button (click)="sendMessage()" type="button" class="btn btn-primary boton-enviar">
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
