<nav class="navbar navbar navbar-expand-lg navbar-light" style="background-color: #344d90;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-white" style="font-weight:bold;">·P·SYSTEMS</a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="http:///www.t-systems.com/es/es">·T·Systems</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Usuario
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/profile">PERFIL</a>
            </li>
            <li><a class="dropdown-item" href="/login">LOGOUT</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
