<body>
  <div class="container box1 p-0">
    <div class="row text-center small rounded">
      <div class="inicio col-2 text-start">
        <p class="fw-bold"><i class="bi bi-telephone-fill"></i> + 84123 456 999</p>
      </div>
      <div class="col-2">
        <p class="fw-bold"><i class="bi bi-envelope"></i> name@gmail.com</p>
      </div>
      <div class="col-2">
        <p class="fw-bold"><i class="bi bi-geo-alt-fill"></i>123street CH city</p>
      </div>
      <div class="col">
        <div class="final2 row">
          <div class="col-auto">
            <p class="fw-bold text-end">Sign Up</p>
          </div>
          <div class="col-auto">
            <p class="fw-bold text-start">Login</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-0">
    <nav class="bar navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="img/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item">
              <a class="nav-link dropright-divider" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link dropright-divider" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#">Whatching new movies</a>
                </li>
                <li><a class="dropdown-item" href="#">Listening Music</a></li>
                <li><a class="dropdown-item" href="#">Play new games</a></li>
                <li>
                  <a class="dropdown-item" href="#">Learn new design</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link dropright-divider" aria-current="page" href="#">Portafolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link dropright-divider" aria-current="page" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link dropright-divider" aria-current="page" href="#">Mega</a>
            </li>
          </ul>
          <div>
            <form class="d-flex">
              <input class="form-control me-2 " type="search" placeholder="Search here..." aria-label="Search" />

        </div>
          <div class="buscar"><button class="boton btn btn-primary" type="submit">

              <i class="bi bi-search"></i>
            </button>

          </div>

          <div class="icono"><i class="bi bi-facebook"></i></div>
          <div class="icono"><i class="bi bi-twitter"></i></div>
          <div class="icono"><i class="bi-google"></i></div>
          <div class="icono"><i class="bi bi-youtube"></i></div>

          <div class="final icono"><i class="bi bi-person-circle"></i></div>
        </div>


      </div>
  </div>
  </nav>
  </div>
</body>

