.navbar-toggler {
  background-color: #E7552C;
}

li a {
  text-align: center;
}

li a:hover {
  background-color: #E7552C;
}

/* .bar {
  background-color: #344D90;
}
.nav-link {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
a{
  margin-top: 12px;
} */
