.group-card {
  text-align: center;
  background-color: #d8e2e6;
  margin: 1% 1% 1% 1%;
}

.card-img-position {
  display: block;
  margin: auto;
  margin-right: 10%;
}

.container {
  width: 100vw;
}

.group-description {
  margin: 5%;
  align-items: center;
}
