<div class="container">
  <div *ngFor="let group of available_groups"  class="card group-card">
    <div class="row no-gutters">
      <div class="col-sm-4 card-img-position">
        <img
          class="card-img"
          src="{{ group.juego.imagen }}"
          alt="Suresh Dasari Card"
        />
      </div>
      <div class="col group-description">
        <h5 class="card-title">{{group.nombre_grupo}}</h5>
        <p class="card-text">{{group.descripcion}}</p>
        <a href="/chat" class="btn btn-primary">ENTRAR</a>
      </div>
    </div>
  </div>
</div>
