<div class="container bcontent">
  <div class="card group-card" style="width: 500px;">
      <div class="row no-gutters">
          <div class="col-sm-4">
              <img class="card-img" src="https://i.blogs.es/591b5a/280518-darksouls-review/1366_2000.jpg" alt="Suresh Dasari Card">
          </div>
          <div class="col group-description">
              <div class="card-body">
                  <h5 class="card-title">Nombre Grupo</h5>
                  <p class="card-text">Descrpicion del grupo y modo de juego.</p>
                  <a href="/chat" class="btn btn-primary">ENTRAR</a>
              </div>
          </div>
      </div>
  </div>
</div>
