<app-navbar></app-navbar>
<div class="contenedor">
  <div class="container">
    <div class="row">
      <!-- Columna de los grupos a los que perteneces -->
      <div class="col-sm-1 mygroups-nav">
        <div class="row">
          <app-my-groups></app-my-groups>
        </div>
      </div>

      <!-- Columna del buscador de grupos y la lista de grupos -->
      <div class="col">
        <div class="row">
          <app-game-explorer></app-game-explorer>
        </div>
        <div class="row available-groups-nav">
          <app-group-list> </app-group-list>
        </div>
      </div>
    </div>
  </div>
</div>
