.container {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #c5d1f0;
}

.container-row {
  width: 100vw;
  height: 100vh;
}

.mygroups-nav {
  width: max-content;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #344d90 rgba(235, 40, 40, 0);
  scrollbar-width: thin;
  background-color: #d8e2e6;
}

.available-groups-search {
  margin-left: 1px;
  width: 100%;
  height: 10vh;
  background-color: #d8e2e6;
}

.available-groups-nav {
  margin-top: 1%;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #344d90 rgba(235, 40, 40, 0);
  scrollbar-width: thin;
  background-color: #d8e2e6;
}

.available-groups {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #344d90 rgba(235, 40, 40, 0);
  scrollbar-width: thin;
}
