.mygroups-nav {
  width: max-content;
  overflow: scroll;
  overflow-x: hidden;
  height: 830px;
  scrollbar-color: #344d90 rgba(235, 40, 40, 0);
  scrollbar-width: thin;
  background-color: #d8e2e6;
}

.container {
  background-color: aqua;
  max-width: 100vw;
  min-height: 100vh;
  padding: 15px;
}
