<section class="contenedor">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block logo">
              <img
                src="../../assets/img/ps.jpg"
                alt="Sample photo"
                class="img-fluid"
                style="
                  border-top-left-radius: 0.25rem;
                  border-bottom-left-radius: 0.25rem;
                "
              />
            </div>
            <div class="col-xl-6 submit-form">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">
                  PLAY-SYSTEMS REGISTRATION FORM
                </h3>
                <p>*CAMPO OBLIGATORIO</p>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label
                        class="form-label alerta"
                        *ngIf="user_register.nombre == ''"
                        ><i class="bi bi-exclamation-circle-fill"></i>
                        *Nombre</label
                      >
                      <label
                        class="form-label alerta2"
                        *ngIf="user_register.nombre != ''"
                        ><i class="bi bi-check-circle-fill"></i> *Nombre</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        required
                        [(ngModel)]="user_register.nombre"
                        id="nombre"
                        name="nombre"
                        placeholder="Nombre"
                      />
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label
                        class="form-label alerta"
                        *ngIf="user_register.apellidos == ''"
                        ><i class="bi bi-exclamation-circle-fill"></i>
                        *Apellidos</label
                      >
                      <label
                        class="form-label alerta2"
                        *ngIf="user_register.apellidos != ''"
                        ><i class="bi bi-check-circle-fill"></i>
                        *Apellidos</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        required
                        [(ngModel)]="user_register.apellidos"
                        id="apellidos"
                        name="apellidos"
                        placeholder="Apellidos"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label
                    class="form-label alerta"
                    *ngIf="user_register.email == ''"
                    ><i class="bi bi-exclamation-circle-fill"></i> *eMail</label
                  >
                  <label
                    class="form-label alerta2"
                    *ngIf="user_register.email != ''"
                    ><i class="bi bi-check-circle-fill"></i> *eMail</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    required
                    [(ngModel)]="user_register.email"
                    id="email"
                    name="email"
                    placeholder="Email"
                  />
                </div>
                <div class="form-outline mb-4">
                  <label
                    class="form-label alerta"
                    *ngIf="user_register.username == ''"
                    ><i class="bi bi-exclamation-circle-fill"></i> *Nombre
                    Usuario</label
                  >
                  <label
                    class="form-label alerta2"
                    *ngIf="user_register.username != ''"
                    ><i class="bi bi-check-circle-fill"></i> *Nombre
                    Usuario</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    required
                    [(ngModel)]="user_register.username"
                    id="username"
                    name="username"
                    placeholder="Username"
                  />
                </div>
                <div class="form-outline mb-4">
                  <label
                    class="form-label alerta"
                    *ngIf="user_register.password == ''"
                    ><i class="bi bi-exclamation-circle-fill"></i>
                    *Contraseña</label
                  >
                  <label
                    class="form-label alerta2"
                    *ngIf="user_register.password != ''"
                    ><i class="bi bi-check-circle-fill"></i> *Contraseña</label
                  >
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    required
                    [(ngModel)]="user_register.password"
                    id="password"
                    name="password"
                    placeholder="Contraseña"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label alerta" *ngIf="repetir == ''"
                    ><i class="bi bi-exclamation-circle-fill"></i>
                    *Repetir Contraseña
                  </label>
                  <label class="form-label alerta2" *ngIf="repetir != ''"
                    ><i class="bi bi-check-circle-fill"></i> *Repetir Contraseña
                  </label>
                  <label
                    class="form-label alerta"
                    *ngIf="repetir != user_register.password"
                  >
                    &nbsp;&nbsp;&nbsp;La contraseña es diferente
                  </label>
                  <input
                    type="password"
                    class="form-control"
                    id="repeat_password"
                    name="repeat_password"
                    placeholder="Repetir Contraseña"
                    [(ngModel)]="repetir"
                  />
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button
                    type="button"
                    class="btn btn-light btn"
                    routerLink="/login"
                  >
                    Cancelar
                  </button>
                  <button
                    *ngIf="
                      user_register.nombre != '' &&
                      user_register.apellidos != '' &&
                      user_register.email != '' &&
                      user_register.username != '' &&
                      user_register.password != '' &&
                      repetir == user_register.password
                    "
                    type="submit"
                    class="register btn btn-warning btn ms-2"
                    routerLink="/login"
                    (click)="newUser()"
                  >
                    Registrarse
                  </button>

                  <button
                    *ngIf="
                      user_register.nombre == '' ||
                      user_register.apellidos == '' ||
                      user_register.email == '' ||
                      user_register.username == '' ||
                      user_register.password == '' ||
                      repetir != user_register.password
                    "
                    type="submit"
                    class="register btn btn-warning btn ms-2"
                  >
                    Registrarse
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
