.contenedor{
  background: linear-gradient(#344D90, white);
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}
.register{
  background-color: #E7552C;
  border-color: #E7552C;
  color: white;
}
