<section class="contenedor">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block logo">
              <img
                src="../../assets/img/ps.jpg"
                alt="Sample photo"
                class="img-fluid"
                style="
                  border-top-left-radius: 0.25rem;
                  border-bottom-left-radius: 0.25rem;
                "
              />
            </div>
            <div class="col-xl-6 submit-form">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">
                  PLAY-SYSTEMS REGISTRATION FORM
                </h3>
                <p>*CAMPO OBLIGATORIO</p>
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label">*Nombre</label>
                      <input
                        type="text"
                        class="form-control"
                        required
                        [(ngModel)]="user_register.nombre"
                        id="nombre"
                        name="nombre"
                        placeholder="Nombre"
                      />
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label">*Apellidos</label>
                      <input
                        type="text"
                        class="form-control"
                        required
                        [(ngModel)]="user_register.apellidos"
                        id="apellidos"
                        name="apellidos"
                        placeholder="Apellidos"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">*eMail</label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    [(ngModel)]="user_register.email"
                    id="email"
                    name="email"
                    placeholder="email"
                  />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">*Nombre Usuario</label>
                  <input
                    type="text"
                    class="form-control"
                    required
                    [(ngModel)]="user_register.username"
                    id="username"
                    name="username"
                    placeholder="username"
                  />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">*Contraseña</label>
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    required
                    [(ngModel)]="user_register.password"
                    id="password"
                    name="password"
                    placeholder="contraseña"
                  />
                </div>
                <div class="d-flex justify-content-end pt-3">
                  <button
                    type="button"
                    class="btn btn-light btn"
                    routerLink="/login"
                  >
                    Cancelar
                  </button>
                  <button
                    type="submit"
                    class="register btn btn-warning btn ms-2"
                    routerLink="/login"
                    (click)="newUser()"
                  >
                    Registrarse
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
